# API Configuration
API_URL=http://10.10.10.120

# App Environment
APP_ENV=development

# For Physical Device Testing
# Replace with your local machine's IP address
# API_URL=http://192.168.1.100:8000
